*{margin:0; padding: 0; list-style: none; color:#333; text-decoration: none; background: white; box-sizing: border-box;}
#header{z-index: 99; background: rgba(255, 255, 255, .5); width: 100%; box-sizing: border-box; padding: 0 5%; position: fixed; top: 0; left: 0;  height: 90px; }
.header-wrap{align-items:center; display:flex; justify-content: space-between; background:rgba(255, 255, 255, 0); width:100%; border-bottom:3px solid blueviolet;  height: 100%;}
.header-wrap>h1{ background: rgba(255, 255, 255, 0); font-size: 30px; padding: 20px 0;}
.header-wrap>i{font-size: 40px;}

#main{width: 100%; display: block; position: relative;}
.intro{width: 100%; display: block; }
.intro>img{width: 100%; opacity: .1;}

.intro>div{display:flex; position: absolute; top: 40%; transform: translateY(-50%); left: 10%; background: rgba(255, 255, 255, 0);}
.intro>div>span{background: rgba(255, 255, 255, 0); font-weight: bold;}

.intro>div>.first{font-size: 100px; color:blueviolet; }
.intro>div>p{background: rgba(255, 255, 255, 0); margin-left: 20px;}
.intro>div>p>.second{font-size: 40px; font-weight: bold; line-height: 50px; background: rgba(255, 255, 255, 0);}
